<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/x-icon" href="../../../furniture/favicon.ico"/>
		<title><%=dictTitle%></title>
		<script type="text/javascript" src="../../../libs/jquery.js"></script>
		<script type="text/javascript" src="../../../libs/screenful/screenful.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../../../libs/screenful/screenful-loc-en.js"></script>
		<script type="text/javascript" src="../../../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-user.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript">var rootPath="../../../";</script>
		<script type="text/javascript" src="../../../furniture/screenful-user-config.js"></script>
		<link type="text/css" rel="stylesheet" href="../../../libs/screenful/screenful-navigator.css?2018-02-04" />
		<script type="text/javascript" src="../../../libs/screenful/screenful-navigator.js?2018-02-04"></script>
		<script type="text/javascript" src="../../../libs/js.cookie.js"></script>
		<script type="text/javascript">
		Screenful.Navigator.listUrl="../../../<%=dictID%>/<%=doctype%>/entrylist.json";
		Screenful.Navigator.stepSize=1000;
		Screenful.Navigator.editorUrl="../../../<%=dictID%>/<%=doctype%>/entryeditor/";
		Screenful.Navigator.modifiers=[
			{value: "start", caption: "starts like this"},
			{value: "wordstart", caption: "contains a word that starts like this"},
			{value: "substring", caption: "contains this sequence of characters"},
		];
		Screenful.Navigator.renderer=function(div, entry, searchtext, modifier){
			var $xml=$($.parseXML(entry.content));
			var text=entry.title;
			if(searchtext!=""){
				$text=$("<span>"+text+"</span>");
				$text.find("span.headword, span.redirector").each(function(){
					var $this=$(this);
					if(modifier=="start") {
						var regexp=new RegExp("^"+searchtext, "gi");
						$this.html($this.html().replace(regexp, function(match){ return "<span class='searchtext'>"+match+"</span>"; }));
					} else if(modifier=="wordstart") {
						var regexp=new RegExp("(^| )("+searchtext+")", "gi");
						$this.html($this.html().replace(regexp, function(match, $1, $2){ return $1+"<span class='searchtext'>"+$2+"</span>"; }));
					} else if(modifier=="substring") {
						var regexp=new RegExp(searchtext, "gi");
						$this.html($this.html().replace(regexp, function(match){ return "<span class='searchtext'>"+match+"</span>"; }));
					}

				});
				text=$text.html();
			}
			$(div).html(text);
		};
		</script>
		<link type="text/css" rel="stylesheet" href="../../../furniture/ui.css" />
	</head>
	<body>
		<%-include("header.ejs", {user: user, dictID: dictID, dictTitle: dictTitle, current: "edit", rootPath: "../../../", doctype: doctype, doctypes: doctypes})%>
		<script>
	    var mode=Cookies.get("xonomyMode_<%=dictID%>") || "<%-xonomyMode%>";
			$(".doctypes").addClass(mode);
	  </script>
	</body>
</html>
