<div id="header" style="padding: 10px 14px; height: 38px; border-bottom: 1px solid #1e6bcf;">
  <a href="<%-rootPath%><%=dictID%>/" class="dicTitle"><%=dictTitle%></a>
  <span class="dicLinks">
    <a href="<%-rootPath%><%=dictID%>/edit/" class="dicLink <%if(current=='edit'){%>current<%}%>">Edit</a>
    <a href="<%-rootPath%><%=dictID%>/config/" class="dicLink <%if(current=='config'){%>current<%}%> <%if(!user.canConfig){%>disabled<%}%>">Configure</a>
    <%if(current=="config" && configTitle){%>
        <a href="<%-rootPath%><%=dictID%>/config/<%=configUrl%>/" class="dicLink current mergeleft"><%=configTitle%></a>
    <%}%>
    <a href="<%-rootPath%><%=dictID%>/download/" class="dicLink <%if(current=='download'){%>current<%}%> <%if(!user.canDownload){%>disabled<%}%>">Download</a>
    <a href="<%-rootPath%><%=dictID%>/upload/" class="dicLink <%if(current=='upload'){%>current<%}%> <%if(!user.canUpload){%>disabled<%}%>">Upload</a>
  </span>
  <div class="email ScreenfulUser"></div>
</div>
