<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="furniture/favicon.ico"/>
		<title>Lexonomy</title>
		<meta property="og:title" content="Lexonomy" />
		<meta property="og:site_name" content="Lexonomy"/>
		<meta name="description" content="A platform for writing and publishing dictionaries" />
		<meta property="og:description" content="A platform for writing and publishing dictionaries" />
		<meta property="og:image" content="<%-siteconfig.baseUrl%>furniture/preview.gif" />
		<meta property="og:url" content="<%-siteconfig.baseUrl%>" />
		<meta name="twitter:url" content="<%-siteconfig.baseUrl%>" />
		<script type="text/javascript" src="libs/jquery.js"></script>
		<script type="text/javascript" src="libs/screenful/screenful.js"></script>
		<script type="text/javascript" src="libs/screenful/screenful-loc-en.js"></script>
		<script type="text/javascript" src="libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="libs/screenful/screenful-user.css" />
		<link type="text/css" rel="stylesheet" href="libs/screenful/screenful-theme-blue.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript">var rootPath="";</script>
		<script type="text/javascript" src="furniture/screenful-user-config.js"></script>
		<link type="text/css" rel="stylesheet" href="furniture/public.css" />
	</head>
	<body class="sitehome">
		<div id="header">
			<a class="sitehome" href=""><%if(siteconfig.readonly){%><span class="readonly">READ-ONLY</span><%}%></a>
		  <div class="email ScreenfulUser"></div>
		</div>

		<div class="invelope top">
			<div class="leftie">
				<div class="welcome">
					<%-siteconfig.welcome%>
				</div>
			</div>
			<div class="rightie">
				<%if(siteconfig.readonly){%>
					<div class="readonly">
						<div class="readonlyTitle">READ-ONLY</div>
						Lexonomy is undergoing maintenance and is currently in read-only mode.
						Normal operation will resume as soon as possible.
						Sorry for the inconvenience.
					</div>
				<%}else{%>
					<%if(!user.loggedin){%>
						<div class="usertop">
							<div class="title">Registered user login</div>
							<div class="subtitle"><a href="signup/">Get an account</a> | <a href="forgotpwd/">Forgot your password?</a></div>
						</div>
						<form id="login" onsubmit="return false">
							<div class="field email"><div class="label">E-mail address</div><input class="textbox email"/></div>
							<div class="field password"><div class="label">Password</div><input class="textbox password" type="password"/></div>
							<div class="field submit"><button>Log in</button></div>
							<div class="error" style="display: none">Invalid e-mail address or password.</div>
						</form>
						<script type="text/javascript">
						$(window).ready(function(){
							$("form#login").on("submit", function(e){
					      var email=$("form#login div.field.email input").val();
					      var password=$("form#login div.field.password input").val();
								console.log(email, password);
					      if(email!="" && password!="") {
									$.ajax({url: "login.json", dataType: "json", method: "POST", data: {email: email, password: password}}).done(function(data){
							      if(data.success) window.location.reload();
							      else $("form#login div.error").show();
							    });
								}
					      return false;
					    });
						});
						</script>
						<div class="orline"><span>Other ways to log in</span></div>
            <%if(error){%><div class="error">Sketch Engine login error: <%=error%></div><%}%>
            <%if(siteconfig.sketchengineLoginPage){%>
            <div class="skelogin">
              <a href="<%=siteconfig.sketchengineLoginPage%>">Sign up or log in with <img alt="Sketch Engine" title="Sketch Engine" src="furniture/logo_ske.png"/> »</a>
            </div>
            <%}%>
					<%}else{%>
						<div class="usertop">
							<div class="title"><%=user.email%></div>
							<div class="subtitle"><a href="logout/">Log out</a> | <a href="changepwd/">Change your password</a></div>
						</div>
						<div class="yourdicts">Your dictionaries</div>
						<%for(var i=0; i<dicts.length; i++){%>
							<div class="dict" id="dict_<%-dicts[i].id%>">
								<a class="dictTitle" href="<%-dicts[i].id%>/"><%=dicts[i].title%></a>
								<%if(dicts[i].currentUserCanDelete){%><a class="dictAction" href="javascript:void(null)" onclick="destroyDict('<%-dicts[i].id%>')">Delete</a><%}%>
							</div>
						<%}%>
						<script type="text/javascript">
						function destroyDict(dictID){
							if(confirm("Careful now! You will not be able to undo this.")){
								$.ajax({url: "./"+dictID+"/destroy.json", dataType: "json", method: "POST", data: {}}).done(function(data){
									if(data.success) {
										$("#dict_"+dictID).slideUp("fast", function(){ $("#dict_"+dictID).remove() });
									};
								});
							}
						}
						</script>
						<div class="createdict"><a href="make/">Create a dictionary</a></div>
						<div class="yourdicts">One-Click Dictionary settings</div>
						<div class="adminlink"><a href="oneclick/">API key</a></div>
            <%if(siteconfig.sketchengineLoginPage){%>
  						<div class="yourdicts">Sketch Engine login</div>
	  					<div class="adminlink">
              <%if(user.ske_username){%>
                Your Lexonomy account is linked to your Sketch Engine account <b><%=user.ske_username%></b>. <a href="<%=siteconfig.sketchengineLoginPage%>">Link to a different Sketch Engine account&nbsp;»</a>
              <%} else {%>
                <a href="<%=siteconfig.sketchengineLoginPage%>">Link your Lexonomy account to your Sketch Engine account&nbsp;»</a>
              <%}%>
              </div>
						<%}%>
						<%if(user.isAdmin){%>
							<div class="yourdicts">Administration</div>
							<div class="adminlink"><a href="users/">Users</a> <a href="dicts/">Dictionaries</a></div>
						<%}%>
					<%}%>
				<%}%>
			</div>
			<div class="clear"></div>
		</div>



		<div class="invelope bottom">
			<div id="sitefooter">
				<div class="right"><a href="https://github.com/michmech/lexonomy" class="github" title="GitHub" target="_blank"></a></div>
				<div>Lexonomy &copy; <a href="http://www.lexiconista.com/" target="_blank">Michal Boleslav Měchura</a> 2016&ndash;2018</div>
				<div class="logolint">
					<a class="muni" target="_blank" href="https://www.muni.cz/" title="Masaryk University"></a>
					<a class="ske" target="_blank" href="https://www.sketchengine.co.uk/" title="Sketch Engine"></a>
				</div>
			</div>
		</div>

		<%-siteconfig.trackingCode%>
	</body>
</html>
